<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToyBoxx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToyBoxx.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="LoopingBehavior" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsMuted" serializeAs="String">
                <value>False</value>
            </setting>
        </ToyBoxx.Properties.Settings>
    </userSettings>
</configuration>